<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Welcome {{user.username}}</title>
</head>

<body>
    <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index/tutreg">Tutor Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index/tutor_pro">Tutor Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/index/stureg">Student Registration</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/index/stu_pro">Student Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login/log_out">Log out</a>
            </li>

        </ul>

    </div>
    <div id="this_student">
        <h2>{{this_tutor.first_name}}'s Student Profile</h2>
    </div>
    <div>
        {% for subject in all_subjects %}
        <p>{{subject.name}}</p>
        <p>{{subject.tutored_by}}</p>
        {% endfor %}
    </div>
    <div>
        <h3>Tutors Available for Support</h3>
        {% for tutor in all_tutors %}
        <div>
            <h4>{{tutor.first_name}} {{tutor.last_name}}</h4>
            <p>{{tutor.desc}}</p>
            <p>From {{tutor.city}}, {{tutor.state}}</p>
            <p>Posted at: </p>
            <p>
                <a href="/index/profile_tutor/{{tutor.id}}">View Profile</a>
            </p>
        </div>
        {% endfor %}
    </div>
</body>

</html>